parameters:
  level: 5
  excludePaths:
    - vendor
  scanFiles:
    - cardanopress.php
  scanDirectories:
    - %currentWorkingDirectory%/.cache/wordpress
    - %currentWorkingDirectory%/.cache/wordpress-tests-lib
    - %currentWorkingDirectory%/dependencies
  dynamicConstantNames:
    - CARDANOPRESS_FILE
