parameters:
  level: 8
  excludePaths:
    analyse:
      - dependencies
    analyseAndScan:
      - vendor
      - class-tgm-plugin-activation.php
  scanFiles:
    - cardanopress.php
    - class-tgm-plugin-activation.php
  scanDirectories:
    - .cache/wordpress
    - .cache/wordpress-tests-lib
    - dependencies
  dynamicConstantNames:
    - CARDANOPRESS_FILE
